<% navbar.forEach(function (nav) { %>
<li class="sep"> | </li>
<li><a href="<%= nav.href %>" target="<%= nav.target %>"><%= nav.label %></a></li>
<% }) %>
<li class="sep"> | </li>
<li><wb:follow-button uid="1768717172" type="gray_2" width="136" height="24" ></wb:follow-button></li>
